{% extends 'coach/_team_blank.html' %}
{% load static %}

{% block teamcontent %}
    {% csrf_token %}
    <div class="nk-block">
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Команда</h3>
                <div class="nk-block-des text-soft">
                    <p>В команде: {{ users.count }}</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="{% url 'coach_team_users_create' team.pk %}" class="btn btn-icon btn-primary"><em class="icon ni ni-plus"></em></a>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner p-0">
                    <div class="nk-tb-list nk-tb-ulist is-compact">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col"><span class="sub-text">Ученик</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Имя пользователя</span></div>
                            <div class="nk-tb-col tb-col-sm"><span class="sub-text">Пароль</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Дата рождения</span></div>
                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">Последний вход</span></div>
                            <div class="nk-tb-col nk-tb-col-tools text-right">
                            </div>
                        </div><!-- .nk-tb-item -->
                        {% for usr in users %}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col">
                                <div class="user-card">
                                    <div class="user-avatar xs bg-danger">
                                        <img src="{{ usr.pic_small.url }}" alt="">
                                    </div>
                                    <div class="user-name">
                                        <span class="tb-lead">{{ usr.surname|title }} {{ usr.name|title }} {{ usr.patronymic|title }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span>{{ usr.username|lower }}</span>
                            </div>
                            <div class="nk-tb-col tb-col-sm">
                                <span>{{ usr.c_pass }}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span>{{ usr.birthday }}</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span>{{ usr.last_login|date:"d.m.Y" }}</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-2">
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="{% url 'coach_team_users_edit' team.pk usr.pk %}"><em class="icon ni ni-edit"></em><span>Изменить</span></a></li>
                                                    <li><a href="{% url 'coach_team_users_delete' team.pk usr.pk %}"><em class="icon ni ni-trash"></em><span>Удалить пользователя</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                        {% endfor %}
                    </div><!-- .nk-tb-list -->
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
{% endblock %}
{% block scripts %}
{% endblock %}