{% extends 'coach/_blank.html' %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Тренеры</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <ul class="nk-block-tools g-3">
                    <li class="nk-block-tools-opt">
                        <div class="drodown">
                            <a href="{% url 'coach_trainers_create' %}" class="dropdown-toggle btn btn-icon btn-primary"><em class="icon ni ni-plus"></em></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner p-0">
                    <div class="nk-tb-list nk-tb-ulist">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col"><span class="sub-text">Пользователь</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Имя Пользователя</span></div>
                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">Дата рождения</span></div>
                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">Последний вход</span></div>
                            <div class="nk-tb-col"><span class="sub-text">Статус</span></div>
                        </div><!-- .nk-tb-item -->
                        {% for usr in users %}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col">
                                <a href="{% url 'signin' %}">
                                    <div class="user-card">
                                        <div class="user-avatar {% if usr.is_staff %}bg-danger{% else %}{% if usr.role == 2 %}bg-primary{% else %}bg-light{% endif %}{% endif %}">
                                            <span>{{ usr.surname|title|first }}{{ usr.name|title|first }}</span>
                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">{{ usr.surname|title }} {{ usr.name|title }} {{ usr.patronymic|title }}<span class="dot {% if usr.is_active %}dot-success{% endif %}{% if usr.is_banned %}dot-danger{% endif %} d-md-none ml-1"></span></span>
                                            <span>{{ usr.email }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span>{{ usr.username }}</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <ul class="list-status">
                                        <li> <span>{{ usr.birthday }}</span></li>
                                </ul>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span>{{ usr.last_login|date:"d.m.Y" }}</span>
                            </div>
                            <div class="nk-tb-col">
                                {% if usr.role == 1 %}
                                    <span class="tb-status text-success">Ученик</span>
                                {% endif %}
                                {% if usr.role == 2 %}
                                    <span class="tb-status text-danger">Тренер</span>
                                {% endif %}
                            </div>
                        </div><!-- .nk-tb-item -->
                        {% endfor %}
                    </div><!-- .nk-tb-list -->
                </div><!-- .card-inner -->
                <div class="card-inner">
                    <div class="nk-block-between-md g-3">
                        <div class="g">
                            <ul class="pagination justify-content-center justify-content-md-start">
                                {% if page_count <= 7 %}
                                    {% if current_page > 1 %}
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ prev_page }}">Назад</a></li>
                                    {% endif %}
                                    {% if current_page == 1 %}
                                        <li class="page-item disabled"><a class="page-link">Назад</a></li>
                                    {% endif %}

                                    {% for page in pages %}
                                        <li class="page-item {% if current_page == page %}active{% endif %}"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ page }}">{{ page }}</a></li>
                                    {% endfor %}

                                    {% if current_page < page_count %}
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ next_page }}">Далее</a></li>
                                    {% endif %}
                                    {% if current_page == page_count %}
                                        <li class="page-item disabled"><a class="page-link">Далее</a></li>
                                    {% endif %}
                                {% endif %}

                                {% if page_count > 7 %}

                                    {% if current_page > 3 %}
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ prev_page }}">Назад</a></li>
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}1">1</a></li>
                                        <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                                    {% endif %}

                                    {% if current_page > 1 and current_page < 4 %}
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ prev_page }}">Назад</a></li>
                                    {% endif %}

                                    {% if current_page == 1 %}
                                        <li class="page-item disabled"><a class="page-link">Назад</a></li>
                                    {% endif %}

                                    {% for page in center_pages %}
                                        <li class="page-item {% if current_page == page %}active{% endif %}"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ page }}">{{ page }}</a></li>
                                    {% endfor %}

                                    {% if current_page < pp %}
                                        <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ page_count }}">{{ page_count }}</a></li>
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ next_page }}">Далее</a></li>
                                    {% endif %}

                                    {% if current_page >= pp and current_page < page_count %}
                                        <li class="page-item"><a class="page-link" href="{% url 'signin' %}{{ params }}{{ next_page }}">Далее</a></li>
                                    {% endif %}

                                    {% if current_page == page_count %}
                                        <li class="page-item disabled"><a class="page-link">Далее</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul><!-- .pagination -->
                        </div>
                    </div><!-- .nk-block-between -->
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
{% endblock %}
{% block scripts %}
{% endblock %}